<footer>
  <div class="list-contact">
    <a class="item-contact js-join-newsletter" href="">
      <span class="">
        <span class="icon-email image"></span>
        <span class="meta">
          <span class="title-contact">Join the newsletter</span>
          <span class="desc-contact">Sign up for email updates</span>
      </span>
    </a>

    <a class="item-contact" href="{{ site.url_blog}}" target="_blank" >
      <img src="img/logo-medium.svg" class="image"/>
      <span class="meta">
        <span class="title-contact">Read the blog</span>
        <span class="desc-contact">Articles on Medium</span>
      </span>
    </a>

     <a class="item-contact" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
      <span class="icon-twitter image"></span>
      <span class="meta">
        <span class="title-contact">Follow on Twitter<span>
        <span class="desc-contact">Tweets from the team</span>
      </span>
    </a>
  </div>
</footer>
