<div class="overlay overlay-screen-contact">
  <div class="overlay-close">
    <span class="icon-cross"></span>
  </div>
  <div class="overlay-content">
    <div class="overlay-panel">
      <div class="overlay-heading">
        <div class="title-overlay">Join the newsletter</div>
      </div>
      <form id="newsletter-form" class="newsletter-form form-confirmable">
        <div class="fieldset">
          <div class="input-symbol left">
            <input type="email" name="email" placeholder="Enter your email address"/>
            <span class="icon-email"></span>
          </div>
          <button type="submit" class="btn primary">Sign up</button>
        </div>
        <div class="form-confirmation">
          <div class="note-form">
            Thank you! We'll be in touch shortly.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
