<div class="sidebar-nav">
  <ul class="docs-list">
    <div class="title">Search</div>
    <li>
      <input class="searchInput" />
    </li>
  </ul>

  <ul class="docs-list">
    <div class="title">Get Started</div>
    <li>
      <a
        href="/"
        class="{% if page.title == &quot;Overview&quot; %}active {% endif %}link"
        >Overview</a
      >
    </li>
    <li>
      <a
        href="/setup"
        class="{% if page.title == &quot;Setup&quot; %}active {% endif %}link"
        >Setup</a
      >
    </li>
    <li>
      <a
        href="/test"
        class="{% if page.title == &quot;Test&quot; %}active {% endif %}link"
        >Test</a
      >
    </li>
    <li>
      <a
        href="/review"
        class="{% if page.title == &quot;Review&quot; %}active {% endif %}link"
        >Review</a
      >
    </li>
    <li>
      <a
        href="/document"
        class="{% if page.title == &quot;Document&quot; %}active {% endif %}link"
        >Document</a
      >
    </li>
    <li>
      <a
        href="/setup_ci"
        class="{% if page.title == &quot;Setup CI & PRs&quot; %}active {% endif %}link"
        >Automate with CI</a
      >
    </li>
  </ul>

  <ul class="docs-list">
    <div class="title">Configuration</div>
    <li>
      <a
        href="/viewports"
        class="{% if page.title == &quot;Viewports&quot; %}active {% endif %}link"
        >Viewports</a
      >
    </li>
    <li>
      <a
        href="/browsers"
        class="{% if page.title == &quot;Browsers&quot; %}active {% endif %}link"
      >
        Browsers</a
      >
    </li>
    <li>
      <a
        href="/ignoring-elements"
        class="{% if page.title == &quot;Ignore stories and elements&quot; %}active {% endif %}link"
        >Ignore elements</a
      >
    </li>
    <li>
      <a
        href="/animations"
        class="{% if page.title == &quot;Animations&quot; %}active {% endif %}link"
        >Animations</a
      >
    </li>
    <li>
      <a
        href="/delay"
        class="{% if page.title == &quot;Delay&quot; %}active {% endif %}link"
        >Delay</a
      >
    </li>
    <li>
      <a
        href="/threshold"
        class="{% if page.title == &quot;Threshold&quot; %}active {% endif %}link"
      >
        Threshold for changes</a
      >
    </li>
  </ul>

  <ul class="docs-list">
    <div class="title">Reference</div>
    <li>
      <a
        href="/access"
        class="{% if page.title == &quot;Access control&quot; %}active {% endif %}link"
      >
        Access control</a
      >
    </li>
    <li>
      <a
        href="/snapshots"
        class="{% if page.title == &quot;Snapshots&quot; %}active {% endif %}link"
      >
        Snapshots</a
      >
    </li>

    <li>
      <a
        href="/branching-and-baselines"
        class="{% if page.title == &quot;Branches and baselines&quot; %}active {% endif %}link"
      >
        Branches & baselines</a
      >
    </li>

    <li>
      <a
        href="/resource-loading"
        class="{% if page.title == &quot;Resource Loading&quot; %}active {% endif %}link"
        >Resource loading</a
      >
    </li>

    <li>
      <a
        href="/monorepos"
        class="{% if page.title == &quot;Monorepos&quot; %}active {% endif %}link"
        >Monorepos</a
      >
    </li>
    <li>
      <a
        href="/infrastructure-upgrades"
        class="{% if page.title == &quot;Infrastructure Upgrades&quot; %}active {% endif %}link"
      >
        Infrastructure upgrades</a
      >
    </li>
    <li>
      <a
        href="/storybook"
        class="{% if page.title == &quot;Storybook and Chromatic tutorial&quot; %}active {% endif %}link"
        >Storybook</a
      >
    </li>
    <li>
      <a
        href="/open-source"
        class="{% if page.title == &quot;Open source sponsorships&quot; %}active {% endif %}link"
        >Open source plan</a
      >
    </li>
  </ul>
  <a
    class="btn outline small round show-desktop"
    href="mailto:support@chromatic.com?Subject=Support%20needed"
    target="_blank"
    >support@chromatic</a
  >
</div>
