<div class="sidebar-nav">
  <ul class="docs-list">
    <div class="title">Test</div>
    <li>
      <a href="/" class='{% if page.title == "Get started" %}active {% endif %}link'>Get started</a>
    </li>
    <li>
      <a href="/test" class='{% if page.title == "Run tests" %}active {% endif %}link'>Run tests</a>
    </li>
    <li>
      <a href="/builds" class='{% if page.title == "Update baselines" %}active {% endif %}link'
        >Update baselines</a
      >
    </li>
    <li>
      <a href="/setup_ci" class='{% if page.title == "Setup CI & PRs" %}active {% endif %}link'
        >Setup CI & PRs</a
      >
    </li>
  </ul>

  <ul class="docs-list">
    <div class="title">Review</div>
    <li>
      <a href="/ui-review" class='{% if page.title == "UI Review" %}active {% endif %}link'
        >UI Review</a
      >
    </li>
  </ul>

  <ul class="docs-list">
    <div class="title">Reference</div>
    <li>
      <a href="/library" class='{% if page.title == "Component library" %}active {% endif %}link'>
        Component library</a
      >
    </li>
    <li>
      <a href="/browsers" class='{% if page.title == "Browsers" %}active {% endif %}link'>
        Browsers</a
      >
    </li>
    <li>
      <a
        href="/branching-and-baselines"
        class='{% if page.title == "Branches and baselines" %}active {% endif %}link'
      >
        Branches & baselines</a
      >
    </li>
    <li>
      <a
        href="/ignoring-elements"
        class='{% if page.title == "Ignore stories and elements" %}active {% endif %}link'
        >Ignore</a
      >
    </li>
    <li>
      <a href="/viewports" class='{% if page.title == "Viewports" %}active {% endif %}link'
        >Viewports</a
      >
    </li>
    <li>
      <a href="/animations" class='{% if page.title == "Animations" %}active {% endif %}link'
        >Animations</a
      >
    </li>
    <li>
      <a href="/focus" class='{% if page.title == "Focus" %}active {% endif %}link'>Focus</a>
    </li>
    <li>
      <a
        href="/resource-loading"
        class='{% if page.title == "Resource Loading" %}active {% endif %}link'
        >Resource Loading</a
      >
    </li>
    <li>
      <a href="/delay" class='{% if page.title == "Delay" %}active {% endif %}link'>Delay</a>
    </li>
    <li>
      <a href="/access" class='{% if page.title == "Access control" %}active {% endif %}link'>
        Access control</a
      >
    </li>
    <li>
      <a href="/threshold" class='{% if page.title == "Threshold" %}active {% endif %}link'>
        Threshold</a
      >
    </li>
    <li>
      <a href="/monorepos" class='{% if page.title == "Monorepos" %}active {% endif %}link'
        >Monorepos</a
      >
    </li>
    <li>
      <a
        href="/infrastructure-upgrades"
        class='{% if page.title == "Infrastructure Upgrades" %}active {% endif %}link'
      >
        Infrastructure Upgrades</a
      >
    </li>
    <li>
      <a
        href="/storybook"
        class='{% if page.title == "Storybook and Chromatic tutorial" %}active {% endif %}link'
        >Storybook</a
      >
    </li>
    <li>
      <a
        href="/open-source"
        class='{% if page.title == "Open source sponsorships" %}active {% endif %}link'
        >Open source plan</a
      >
    </li>
  </ul>
  <a
    class="btn outline small round show-desktop"
    href="mailto:support@hichroma.com?Subject=Support%20needed"
    target="_blank"
    >support@hichroma</a
  >
</div>
