<div class="sidebar-nav">
  <div id="docsearch"></div>
  
  <div class="title">Get Started</div>
  <ul class="docs-list table-of-contents">
    <li>
      <a
        href="/docs/"
        class="{% if page.title == "Introduction" %}active {% endif %}link"
        >Introduction</a
      >
    </li>
    <li>
      <a
        href="setup"
        class="{% if page.title == "Setup" %}active {% endif %}link"
        >Setup and publish</a
      >
    </li>
    <li>
      <a
        href="test"
        class="{% if page.title == "Test" %}active {% endif %}link"
        >UI Tests</a
      >
    </li>
    <li>
      <a
        href="review"
        class="{% if page.title == "Review" %}active {% endif %}link"
        >UI Review</a
      >
    </li>
    <li>
      <a
        href="document"
        class="{% if page.title == "Document" %}active {% endif %}link"
        >Document</a
      >
    </li>
    <li>
      <a
        href="ci"
        class="{% if page.title == "Automate with CI" %}active {% endif %}link"
        >Automate with CI</a
      >
    </li>
    <li>
      <a href="workflow" class="{% if page.title == "Workflow" %}active {% endif %}link">Workflow</a>
    </li>
  </ul>

<div class="title">Configuration</div>
  <ul class="docs-list">  
    <li>
      <a href="cli" class="{% if page.title == "CLI" %}active {% endif %}link">CLI</a>
    </li>
    <li>
      <a
        href="viewports"
        class="{% if page.title == "Viewports" %}active {% endif %}link"
        >Viewports</a
      >
    </li>
    <li>
      <a
        href="browsers"
        class="{% if page.title == "Browsers" %}active {% endif %}link"
      >
        Browsers</a
      >
    </li>
    <li>
      <a
        href="ignoring-elements"
        class="{% if page.title == "Ignore stories and elements" %}active {% endif %}link"
        >Ignore elements</a
      >
    </li>
    <li>
      <a
        href="animations"
        class="{% if page.title == "Animations" %}active {% endif %}link"
        >Animations</a
      >
    </li>
    <li>
      <a
        href="delay"
        class="{% if page.title == "Delay" %}active {% endif %}link"
        >Delay</a
      >
    </li>
    <li>
      <a
        href="threshold"
        class="{% if page.title == "Threshold" %}active {% endif %}link"
      >
        Threshold for changes</a
      >
    </li>
    <li>
      <a
        href="hoverfocus"
        class="{% if page.title == "Hover and focus states" %}active {% endif %}link"
      >
        Hover and focus</a
      >
    </li>
    <li>
      <a
        href="ischromatic"
        class="{% if page.title == "isChromatic" %}active {% endif %}link"
      >
        isChromatic()</a
      >
    </li>
    <li>
      <a href="integrations" class="{% if page.title == "Integrations" %}active {% endif %}link">
        Integrations</a>
    </li>
    <li>
      <a href="composition" class="{% if page.title == "Composition" %}active {% endif %}link">Composition</a>
    </li>
    <li>
      <a href="permalinks" class="{% if page.title == "Permalinks" %}active {% endif %}link">Permalinks</a>
    </li>
    <li>
      <a href="interactions" class="{% if page.title == "Interactions" %}active {% endif %}link">Interactions</a>
    </li>
    <li>
      <a href="monorepos" class="{% if page.title == "Monorepos" %}active {% endif %}link">Monorepos</a>
    </li>
  </ul>

  <div class="title">Snapshot</div>
  <ul class="docs-list">
    <li>
      <a href="snapshots" class="{% if page.title == "Snapshots" %}active {% endif %}link">
        Snapshots</a>
    </li>
    <li>
      <a href="resource-loading" class="{% if page.title == "Resource loading" %}active {% endif %}link">Resource
        loading</a>
    </li>
    <li>
      <a href="branching-and-baselines" class="{% if page.title == "Branches and baselines" %}active {% endif %}link">
        Branches & baselines</a>
    </li>
    <li>
      <a href="turbosnap" class="{% if page.title == "TurboSnap" %}active {% endif %}link">TurboSnap</a>
    </li>
  </ul>

  <div class="title">Collaborate</div>
  <ul class="docs-list"> 
    <li>
      <a
        href="access"
        class="{% if page.title == "Access control" %}active {% endif %}link"
      >
        Access control</a
      >
    </li>
    <li>
      <a href="collaborators" class="{% if page.title == "Collaborators" %}active {% endif %}link">
        Collaborators</a>
    </li>
    <li>
      <a href="embed" class="{% if page.title == "Embed stories" %}active {% endif %}link">Embed</a>
    </li>
    <li>
      <a href="figma" class="{% if page.title == "Figma" %}active {% endif %}link">Figma</a>
    </li>
    <li>
      <a href="markdown" class="{% if page.title == "Chromatic Markdown syntax" %}active {% endif %}link">Markdown</a>
    </li>
  </ul>

  <div class="title">CI</div>
  <ul class="docs-list"> 
    <li>
      <a
        href="github-actions"
        class="{% if page.title == "Automate Chromatic with GitHub Actions" %}active {% endif %}link"
      >
      GitHub Actions</a
      >
    </li>
    <li>
      <a
        href="gitlab"
        class="{% if page.title == "Automate Chromatic with GitLab" %}active {% endif %}link"
        >GitLab Pipelines</a
      >
    </li>

    <li>
      <a
        href="bitbucket-pipelines"
        class="{% if page.title == "Automate Chromatic with BitBucket" %}active {% endif %}link"
        >Bitbucket Pipelines</a
      >
    </li>
    <li>
      <a
        href="circleci"
        class="{% if page.title == "Automate Chromatic with CircleCI" %}active {% endif %}link"
      >
        Circle CI</a
      >
    </li>
    <li>
      <a
        href="travisci"
        class="{% if page.title == "Automate Chromatic with Travis CI" %}active {% endif %}link"
      >
        Travis CI</a
      >
    </li>
    <li>
      <a
        href="jenkins"
        class="{% if page.title == "Automate Chromatic with Jenkins" %}active {% endif %}link"
        >Jenkins</a
      >
    </li>
    <li>
      <a
        href="azure-pipelines"
        class="{% if page.title == "Automate Chromatic with Azure" %}active {% endif %}link"
        >Azure Pipelines</a
      >
    </li>
    <li>
      <a
        href="custom-ci-provider"
        class="{% if page.title == "Automate Chromatic with your custom CI provider" %}active {% endif %}link"
        >Other CI providers</a
      >
    </li>
  </ul>
  <div class="title">Account</div>
  <ul class="docs-list">
    <li>
      <a href="support" class="{% if page.title == "Support" %}active {% endif %}link">Support</a>
    </li>
    <li>
      <a href="billing" class="{% if page.title == "Billing" %}active {% endif %}link">Billing & invoices</a>
    </li>
    <li>
      <a href="notifications" class="{% if page.title == "Notifications" %}active {% endif %}link">Notifications</a>
    </li>
    <li>
      <a href="infrastructure-upgrades" class="{% if page.title == "Infrastructure upgrades" %}active {% endif %}link">
        Infrastructure upgrades</a>
    </li>
    <li>
      <a href="security" class="{% if page.title == "Security" %}active {% endif %}link">
        Security</a>
    </li>
    <li>
      <a href="terms-of-service" class="{% if page.title == " Terms of Service" %}active {% endif %}link">
        Terms of service</a>
    </li>
    <li>
      <a href="privacy-policy" class="{% if page.title == "Privacy Policy" %}active {% endif %}link">
        Privacy policy</a>
    </li>
    <li>
      <a href="acceptable-use" class="{% if page.title == "Acceptable Use Policy" %}active {% endif %}link">
        Acceptable use policy</a>
    </li>
    <li>
      <a href="open-source" class="{% if page.title == "Open source sponsorships" %}active {% endif %}link">Open source
        plan</a>
    </li>
    <li>
      <a href="faq" class="{% if page.title == "FAQ" %}active {% endif %}link">FAQ</a>
    </li>
  </ul>
  <button
    class="btn outline small round show-desktop intercom-concierge-bot">Get support</button
  >
</div>

