---
import { Icon } from "@chromatic-com/tetra";
---

<div class="art-callout">
  <div class="art-callout-icon">
    <Icon name="info" color="blue500" aria-hidden="true" />
  </div>
  <p>
    Accessibility testing is currently in private beta.{" "}
    <a
      href="https://share.hsforms.com/22DRD_-gaSfSdl3vYzSAndgr5etx?utm_campaign=art_eap&utm_source=feature_page&utm_medium=web&__hstc=243929690.d9890273ac8b62b0f3e7b993d5dd426b.1748437903587.1750689586162.1750771050873.71&__hssc=243929690.6.1750771050873&__hsfp=1243925796"
    >
      Request early access »
    </a>
  </p>
</div>

<style>
  .art-callout {
    font-size: 14px;
    line-height: 20px;
    color: #444;
    border-radius: 4px;
    background: #def2ff;
    border: 1px solid rgba(2, 113, 182, 0.1);

    margin-bottom: 1.5em;
    display: flex;
    align-items: stretch;
  }

  .art-callout p {
    padding: 1em;
  }

  .art-callout a {
    color: #0b94eb !important;
    font-weight: 400;
  }

  .art-callout-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    background-color: #f6f9fc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
</style>
