---
const { name } = Astro.props;
---

<div class="callout">
  ℹ️ The <code>chromatic.{name}</code> parameter can be set at story, component,
  and project levels. This enables you to set project wide defaults and override
  them for specific components and/or stories. <a
    href="/docs/config-with-story-params">Learn more »</a
  >
</div>
