---
import { type TransformedItem } from "./Navigation/types";

const { flattenedNavItems, slug } = Astro.props;

interface Props {
  slug: string;
  flattenedNavItems: TransformedItem[];
}

const itemIndex = flattenedNavItems.findIndex((i) => i.slug === slug);
const item = flattenedNavItems[itemIndex];
const breadcrumb = item?.breadcrumb || "Docs";
// Order is reversed so that the first item is the most relevant
const order = -(itemIndex + 1);
---

<!-- Used as lvl0 prop by algolia which helps categorize the search results  -->
<span hidden id="algolia-group-title">{breadcrumb}</span>

<!-- Used to specify page rank -->
<span hidden id="algolia-sidebar-order">{order}</span>
