---
import { type TransformedItem } from './Navigation/types';

const { flattenedNavItems, id, type = 'default' } = Astro.props;

interface Props {
  id: string;
  flattenedNavItems: TransformedItem[];
  type?: 'default' | 'faq' | 'hidden';
}

const offsets = {
  default: 0,
  faq: 100,
  hidden: 200,
};

const offset = offsets[type];

const itemIndex = flattenedNavItems.findIndex((i) => i.id === id);
const item = flattenedNavItems[itemIndex];

const breadcrumbs = {
  faq: 'FAQs',
  hidden: 'Miscellaneous',
  default: item?.breadcrumb || 'Docs',
};
const breadcrumb = breadcrumbs[type];

// Order is reversed so that the first item is the most relevant
const order = -(itemIndex + 1 + offset);
---

<!-- Used as lvl0 prop by algolia which helps categorize the search results  -->
<span hidden id="algolia-group-title">{breadcrumb}</span>

<!-- Used to specify page rank -->
<span hidden id="algolia-sidebar-order">{order}</span>
