---
import { Debug } from "astro:components";
import {
  type NavGroup,
  type NavGroupItem,
  isNestedGroup,
} from "./Navigation/types";

const { navItems, slug, sidebarOrder } = Astro.props;

// interface NavItem {
//   title: string;
//   items: NavGroupItem[];
//   defaultOpen?: boolean;
//   timeline?: boolean;
// }

const findItem = (
  items: NavGroup[] | NavGroupItem[],
  slug: string,
): NavGroupItem | undefined =>
  items.find((item) =>
    isNestedGroup(item) ? findItem(item.items, slug) : item.slug === slug,
  );

const groupIndex = navItems.findIndex(({ items }: NavGroup) =>
  items.find(
    (item) =>
      isNestedGroup(item)
        ? item.items.some((nestedItem) => nestedItem.slug === slug)
        : item.slug === slug,
    // item.items ? items.find((item) => item.slug === slug) : item.slug === slug,
  ),
);
const group = navItems[groupIndex];
const groupTitle = slug === "faq" ? "FAQs" : group ? group.title : "Docs";

const globalOrder = -groupIndex * 10;

// Use global and section order to determine the ranking of the page
const order =
  globalOrder + (sidebarOrder !== undefined ? sidebarOrder * -1 : -100);
---

<Debug {groupIndex} />

<!-- Used as lvl0 prop by algolia which helps categorize the search results  -->
<span id="algolia-group-title">{groupTitle}</span>

<!-- Used to specify page rank -->
<span hidden id="algolia-sidebar-order">{order}</span>
