---
const { navItems, slug, sidebarOrder } = Astro.props;

interface NavItem {
  title: string;
  items: any[];
  defaultOpen?: boolean;
  timeline?: boolean;
}

const groupIndex = navItems.findIndex(({ items }: NavItem) =>
  items.find((item) => item.slug === slug),
);
const group = navItems[groupIndex];
const groupTitle = slug === "faq" ? "FAQs" : group ? group.title : "Docs";

const globalOrder = -groupIndex * 10;

// Use global and section order to determine the ranking of the page
const order =
  globalOrder + (sidebarOrder !== undefined ? sidebarOrder * -1 : -100);
---

<!-- Used as lvl0 prop by algolia which helps categorize the search results  -->
<span hidden id="algolia-group-title">{groupTitle}</span>

<!-- Used to specify page rank -->
<span hidden id="algolia-sidebar-order">{order}</span>
