---
import type { MarkdownLayoutProps } from "astro";
import BaseLayout from "./BaseLayout.astro";
import { Icon } from "@chromatic-com/tetra";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  url: string;
}>;

const {
  frontmatter: { title, description },
  url,
  headings,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  url={url!}
  headings={headings}
  slug="faq"
>
  <p>
    <a class="link primary with-icon" href="/docs/faq">
      <Icon name="arrowleftalt" /> Back to all FAQs
    </a>
  </p>
  <slot />
</BaseLayout>
